@import "tailwindcss";

@keyframes highlight {
  from {
    background-color: rgba(5, 114, 206, 0.3);
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.2s ease-out;
}